<div class="nav">
  <nav>
    <ul>
      <li class="logo"> <a class="logo-text" href="/">GetHired</a> </li>
      <li class="right"> <a class="a-text" href="/search">Find</a></li>
      <li class="right"> <a class="a-text" href="/display"> Display All</a> </li>
      <li class="most-left"> Logged In as <span style="font-weight:bold; color:red" > <%=username%> </span>  </li>
      <li class=" left"> <a class="a-text" href="/logout"> Logout</a> </li>
    </ul>
  </nav>
</div>
