<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/assets/nav.css">
    <link rel="stylesheet" href="/assets/footer.css">
    <link rel="stylesheet" href="/assets/styleThankyou.css">
  </head>
  <body>

    <% include partials/nav %>

    <h1> Thank you for registering.</h1>
    <h4> <a href="/">Go To Home Page</a></h4>



    <%include partials/footer %>
  </body>
</html>
