h1{
  text-align:center;
  font-family: "Avenir Next LT Pro";
  margin-top: 30px;
  margin-bottom: 40px;
  color:rgb(68, 68, 68)
}

form{
  text-align: center;
  margin: 0 auto;
}

input{
  font-family: tahoma;
  display: block;
  margin: 15px auto;
  border: 1px solid #dddddd ;
  width: 30%;
	padding: 15px;
}

input[type="submit"]{
  color:white;
  width: 15%;
  background-color: #535b63;
	border: 0;
	cursor: pointer;
	font-weight: bold;
}
h3{
  color:rgb(180, 0, 0);
  font-weight: 200;
  text-align: center;

}

table {
  text-align: center;
margin: 0 auto;
/* border: rgb(36, 149, 255) */
}



tbody td{
  padding: 15px;
  background-color: rgb(230, 254, 255)
  /* border: rgb(36, 149, 255) */
}

thead td{
  padding: 15px;
  background-color: rgb(69, 69, 69);
  color:#fff;
  /* border: 0px; */
  border: rgb(36, 149, 255)
}
